@model Web.Models.WateringEventViewModel
@using Web.Helpers

@{
    Layout = null;
}
<link href="~/Content/select2.css" rel="stylesheet"/>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

<form id="eventForm">
    <div class="row">
        <div class="col-md-12">
            <label>Select Irrigation Valve(s)</label>
            @Html.DropDownList("IrrigationValveS2", new SelectList(ListHelper.GetListOfIrrigationValves(Model.UnitId).Select(x => new { x.Id, Name = "Valve " + (x.ValveNumber + 1) }), "Id", "Name"), null, new { @id = "irrigationValveS2", @class = "s2Init", @style = "width: 100%", @multiple = "multiple" })
        </div>
        <br />
        <div class="col-md-6">
            <label>Start Time</label>
        </div>
        <div class="col-md-6">
            <label>End Time</label>
        </div>
        <div class="input-group col-md-6">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
            @Html.TextBoxFor(x => x.WateringEvent.StartDateTime, new { @class = "form-control", @id = "startTime" })
            @*<input id="startTime" type="text" class="form-control" aria-describedby="sizing-addon1">*@
        </div>
        <div class="input-group col-md-6">
            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
            @Html.TextBoxFor(x => x.WateringEvent.EndDateTime, new { @class = "form-control", @id = "endTime" })
            @*<input id="endTime" type="text" class="form-control" aria-describedby="sizing-addon2">*@
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#irrigationValveS2').select2();
        $('#startTime, #endTime').datetimepicker({
            format: 'LT'
        });
    });
</script>