@{
    ViewBag.Title = "About";
}

<style>
    .widget.widget-stats {
        position: relative;
    }

    .widget {
        border-radius: 3px;
        margin-bottom: 20px;
        color: #fff;
        padding: 15px;
        overflow: hidden;
    }

    .bg-green {
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
    .widget-stats .stats-desc, .widget-stats .stats-title {
        color: #fff;
        color: rgba(255,255,255,.6);
    }

    .widget-stats .stats-title {
        position: relative;
        line-height: 1.1;
        font-size: 12px;
        margin: 2px 0 7px;
    }

    .widget-stats .stats-number {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .widget-stats .stats-icon.stats-icon-lg {
        font-size: 52px;
        top: 12px;
        right: 21px;
    }

    .widget-stats .stats-desc {
        font-weight: 300;
        margin-bottom: 0;
    }

    .widget-stats .stats-desc, .widget-stats .stats-title {
        color: #fff;
        color: rgba(255,255,255,.6);
    }

    .widget-stats .stats-info h4 {
        font-size: 12px;
        margin: 5px 0;
        color: #fff;
    }

    .widget-stats .stats-info p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0;
    }

    .widget-stats .stats-link a {
        display: block;
        margin: 15px -15px -15px;
        padding: 7px 15px;
        background: url(../img/transparent/black-0.4.png);
        background: rgba(0,0,0,.4);
        text-align: right;
        color: #ddd;
        font-weight: 300;
        text-decoration: none;
    }

    .widget-stats .stats-icon {
        font-size: 42px;
        height: 56px;
        width: 56px;
        text-align: center;
        line-height: 56px;
        margin-left: 15px;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
        opacity: .2;
        filter: alpha(opacity=20);
    }
</style>

<div class="row" style="margin-top: 75px;">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats btn-success">
            <div class="stats-icon"><i class="glyphicon glyphicon-leaf"></i></div>
            <div class="stats-info">
                <h4>SOIL MOISTURE LEVEL</h4>
                <p>76.33%</p>
            </div>
            <div class="stats-link">
                <a data-toggle="collapse" href="#viewDetails">View Details</a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats btn-warning">
            <div class="stats-icon"><i class="fa fa-sun-o"></i></div>
            <div class="stats-info">
                <h4>CURRENT TEMPERATURE</h4>
                <p>84&deg;C</p>
            </div>
            <div class="stats-link">
                <a data-toggle="collapse" href="#viewDetails">View Details</a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats btn-info">
            <div class="stats-icon"><i class="fa fa-tint"></i></div>
            <div class="stats-info">
                <h4>WATERING STATUS</h4>
                <p>Off</p>
            </div>
            <div class="stats-link">
                <a data-toggle="collapse" href="#viewDetails">View Details</a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats btn-primary">
            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
            <div class="stats-info">
                <h4>NEXT SCHEDULED WATERING</h4>
                <p>3:15 PM</p>
            </div>
            <div class="stats-link">
                <a data-toggle="collapse" href="#viewDetails">View Details</a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
</div>
<div class="collapse" id="viewDetails">
    <div class="well">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>
