@using Web.Helpers
@model Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<style>
    .widget.widget-stats {
        position: relative;
    }

    .widget {
        border-radius: 3px;
        margin-bottom: 20px;
        color: #fff;
        padding: 15px;
        overflow: hidden;
    }

    .bg-green {
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
    .widget-stats .stats-desc, .widget-stats .stats-title {
        color: #fff;
        color: rgba(255,255,255,.6);
    }

    .widget-stats .stats-title {
        position: relative;
        line-height: 1.1;
        font-size: 12px;
        margin: 2px 0 7px;
    }

    .widget-stats .stats-number {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .widget-stats .stats-icon.stats-icon-lg {
        font-size: 52px;
        top: 12px;
        right: 21px;
    }

    .widget-stats .stats-desc {
        font-weight: 300;
        margin-bottom: 0;
    }

    .datepicker{z-index:1151 !important;}

    .widget-stats .stats-desc, .widget-stats .stats-title {
        color: #fff;
        color: rgba(255,255,255,.6);
    }

    .widget-stats .stats-info h4 {
        font-size: 12px;
        margin: 5px 0;
        color: #fff;
    }

    .widget-stats .stats-info p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0;
    }

    .widget-stats .stats-link a {
        display: block;
        margin: 15px -15px -15px;
        padding: 7px 15px;
        background: url(../img/transparent/black-0.4.png);
        background: rgba(0,0,0,.4);
        text-align: right;
        color: #ddd;
        font-weight: 300;
        text-decoration: none;
    }

    .widget-stats .stats-icon {
        font-size: 42px;
        height: 56px;
        width: 56px;
        text-align: center;
        line-height: 56px;
        margin-left: 15px;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
        opacity: .2;
        filter: alpha(opacity=20);
    }

    .circle {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        /* width and height can be anything, as long as they're equal */
    }
</style>

<div class="row" style="margin-top: 75px;">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats btn-success">
            <div class="stats-icon"><i class="glyphicon glyphicon-leaf"></i>
            </div>
            <div class="stats-info">
                <h4>SOIL MOISTURE LEVEL</h4>
                <p>76.33%</p>
            </div>
            <div class="stats-link">
                <a data-toggle="collapse" href="#viewDetails">View Details</a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats btn-warning">
            <div class="stats-icon"><i class="fa fa-sun-o"></i>
            </div>
            <div class="stats-info">
                <h4>CURRENT TEMPERATURE</h4>
                <p>84&deg;C</p>
            </div>
            <div class="stats-link">
                <a data-toggle="collapse" href="#viewDetails">View Details</a>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats btn-info">
            <div class="stats-icon"><i class="fa fa-tint"></i>
            </div>
            <div class="stats-info">
                <h4>WATERING STATUS</h4>
                <p>Off</p>
            </div>
            <div class="stats-link">
                <a data-toggle="collapse" href="#viewDetails">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats btn-primary">
            <div class="stats-icon"><i class="fa fa-clock-o"></i>
            </div>
            <div class="stats-info">
                <h4>NEXT SCHEDULED WATERING</h4>
                <p>3:15 PM</p>
            </div>
            <div class="stats-link">
                <a data-toggle="collapse" href="#viewDetails">View Details</a>
            </div>
        </div>
    </div>
</div>
<div class="collapse" id="viewDetails">
    <div class="well">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="circle">
                    <i class="fa fa-map-marker fa-5x"></i>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="fa fa-map-marker fa-5x"></i>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="fa fa-map-marker fa-5x"></i>
            </div>
            <div class="col-md-3 col-sm-6">
                <i class="fa fa-map-marker fa-5x"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel" style="border: none">
            <div class="panel-heading" style="background-color: #242a30; color: white">
                <h3 class="panel-title" id="panel-title">Soil Moisture Report<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div id="myfirstchart"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="donut-example"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel" style="border: none">
            <div class="panel-heading" style="background-color: #242a30; color: white">
                <h3 class="panel-title" id="panel-title">Watering Schedule<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
            </div>
            <div class="panel-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel" style="border: none">
            <div class="panel-heading" style="background-color: #242a30; color: white">
                <h3 class="panel-title" id="panel-title">Panel title<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>221</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div id="newEventModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Schedule Watering</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Select Irrigation Valve(s)</label>
                        @Html.DropDownList("IrrigationValveS2", new SelectList(ListHelper.GetListOfIrrigationValves(Model.User.UnitId).Select(x => new { x.Id, Name = "Valve " + (x.ValveNumber + 1)}), "Id", "Name"), null, new {@id = "irrigationValveS2", @class = "s2Init", @style = "width: 100%", @multiple = "multiple"})
                    </div>
                    <br/>
                    <div class="col-md-6">
                        <label>Start Time</label>
                    </div>
                    <div class="col-md-6">
                        <label>End Time</label>
                    </div>
                    <div class="input-group col-md-6">
                        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                        <input id="startTime" type="text" class="form-control" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group col-md-6">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                        <input id="endTime" type="text" class="form-control" aria-describedby="sizing-addon2">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="createEvent" type="button" class="btn btn-primary">Create event</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var line = new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            { year: '2008', value: 20 },
            { year: '2009', value: 10 },
            { year: '2010', value: 5 },
            { year: '2011', value: 5 },
            { year: '2012', value: 20 }
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'year',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Value']
    });
    Morris.Donut({
        element: 'donut-example',
        data: [
            { label: "Zone 1", value: 12 },
            { label: "Zone 2", value: 30 },
            { label: "Zone 3", value: 20 }
        ],
        formatter: function(y, data) {
            return y + '%';
        }
    });


    $(document).ready(function() {
        var selectedDate;
        $('.s2Init').select2();
        $('#startTime, #endTime').datetimepicker({
            format: 'LT'
        });

        $('#calendar').fullCalendar({
            selectable: true,
            selectHelper: true,
            editable: true,
            eventLimit: true,
            dayClick: function(date, jsEvent, view) {
                console.log(date.toISOString());
                selectedDate = date.toISOString();
                $('#newEventModal').modal('show');
            }
        });

        $.ajax({
            url: "@Url.Action("GetWateringEvents", "Home")",
            type: 'GET',
            success: function (data) {
                for (var i = 0; i < data.eventData.length; i++) {
                    $('#calendar').fullCalendar('renderEvent', data.eventData[i], true);
                }
            }
        });

        $('#newEventModal').on('hide.bs.modal', function (e) {
            console.log("unselecte");
            $('#calendar').fullCalendar('unselect');
        });

        $('#createEvent').on('click', function() {
            $.ajax({
                url: "@Url.Action("CreateWateringEvent", "Home")",
                data: {
                    irrigationValves: $('#irrigationValveS2').val(),
                    date: selectedDate,
                    startTime: $('#startTime').val(),
                    endTime: $('#endTime').val(),
                },
                traditional: true,
                type: 'POST',
                success: function (data) {
                    for (var i = 0; i < data.eventData.length; i++) {
                        $('#calendar').fullCalendar('renderEvent', data.eventData[i], true);
                    }
                    //$.each(data.eventData, function (eventData) {
                    //    debugger
                    //    $('#calendar').fullCalendar('renderEvent', eventData, true);
                    //});
                    $('#newEventModal').modal('hide');
                }
            });
        });
    });
    //if (title) {
    //    eventData = {
    //        title: title,
    //        start: start,
    //        end: end
    //    };
    //    $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
    //}
    //$('#calendar').fullCalendar('unselect');
</script>

