.widget.widget-stats {
    position: relative;
}

.widget {
    border-radius: 3px;
    margin-bottom: 20px;
    color: #fff;
    padding: 15px;
    overflow: hidden;
}

.bg-green {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.widget-stats .stats-desc, .widget-stats .stats-title {
    color: #fff;
    color: rgba(255,255,255,.6);
}

.widget-stats .stats-title {
    position: relative;
    line-height: 1.1;
    font-size: 12px;
    margin: 2px 0 7px;
}

.widget-stats .stats-number {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

.widget-stats .stats-icon.stats-icon-lg {
    font-size: 52px;
    top: 12px;
    right: 21px;
}

.widget-stats .stats-desc {
    font-weight: 300;
    margin-bottom: 0;
}

.datepicker {
    z-index: 1151 !important;
}

.widget-stats .stats-desc, .widget-stats .stats-title {
    color: #fff;
    color: rgba(255,255,255,.6);
}

.widget-stats .stats-info h4 {
    font-size: 12px;
    margin: 5px 0;
    color: #fff;
}

.widget-stats .stats-info p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
}

.widget-stats .stats-link a {
    display: block;
    margin: 15px -15px -15px;
    padding: 7px 15px;
    background: url(../Views/img/transparent/black-0.4.png);
    background: rgba(0,0,0,.4);
    text-align: right;
    color: #ddd;
    font-weight: 300;
    text-decoration: none;
}

.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: .2;
    filter: alpha(opacity=20);
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.weekday-col .col-md-1,
.weekday-col .col-sm-1,
.weekday-col .col-lg-1 {
    border-right: 1px solid #ddd;
    text-align: center;
}

.weekday-col .col-md-1:last-child,
.weekday-col .col-sm-1:last-child,
.weekday-col .col-lg-1:last-child {
    border-right: none;
}

.weekday-col {
    margin-bottom: 20px;
}

.day-label {
    width: 100%;
    font-size: 18px;
}

.day-temp {
    font-size: 22px;
}

.calendar-day > label {
    width: 100%;
}

.calendar-day {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0 10px 0;
}

.calendar-day > .col-md-12 > i {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.chart-icon {
    color: #5BC0DE;
    display: block;
    text-align: center;
    position: relative;
    bottom: 95px;
    font-size: 50px;
    font-weight: 100;
}

.chart-canvas {
    display: block;
    top: 0;
    width: 100%;
}


.sensor-label > h4 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 3px;
}

.sensor-label > p {
    font-size: 14px;
}

.sensor-details {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-bottom: 70px;
}

.sensor-details > .input-group {
    margin-bottom: 5px;
}

.watering-status {
    text-align: center;
}

.watering-status > h4 {
    font-size: 20px;
    font-weight: 800;
    color: #707478;
    width: 100%;
}

.watering-status > i {
    font-size: 65px;
    color: #707478;
}

.watering-status.active > i {
    color: #428bca;
}

.watering-status.active > h4 {
    color: black;
}

.loading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
