.content.has-bg .container {
    position: relative;
}

.container-home {
    z-index: 1020;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #8F8E8E;
    margin-top: -120px;
    padding: 0 15px;
    text-align: center;
}

.container-home h1 {
    font-size: 64px;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #242a30;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.25;
}

.container-home h1, .container-home h2, .container-home h3, .container-home h4 {
    color: #fff;
    font-weight: 300;
}

.container-home .btn + .btn {
    margin-left: 15px;
}

.container .row {
    margin: 0 -10px;
}

.container .row > [class*=col-] {
    padding: 0 10px;
}

.container-home a:focus, .container-home a:hover {
    color: #fff;
}

p {
    font-size: 1.4em;
    line-height: 20px;
}

.header.navbar .navbar-nav > li.active > a, .header.navbar .navbar-nav > li > a:hover, .header.navbar .navbar-nav > li > a:focus, .header.navbar.navbar-default .navbar-nav > li.active > a, .header.navbar.navbar-default .navbar-nav > li > a:hover, .header.navbar.navbar-default .navbar-nav > li > a:focus, .header.navbar.navbar-transparent .navbar-nav > li.active > a, .header.navbar.navbar-transparent .navbar-nav > li > a:hover, .header.navbar.navbar-transparent .navbar-nav > li > a:focus, .header.navbar.navbar-inverse .navbar-nav > li.active > a, .header.navbar.navbar-inverse .navbar-nav > li > a:hover, .header.navbar.navbar-inverse .navbar-nav > li > a:focus, .header.navbar.navbar-transparent.navbar-full .navbar-nav > li.active > a, .header.navbar.navbar-transparent.navbar-full .navbar-nav > li > a:hover, .header.navbar.navbar-transparent.navbar-full .navbar-nav > li > a:focus, .font-primary, .navbar-nav .dropdown-menu > li.active > a, .navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus, .pricing-table .price .price-number, a {
    color: #5cb85c;
}

.fa-file-text {
    font-size: 55px;
}

.document-links a {
    color: #ddd;
}

.document-links a i {
    width: 100%;
}

.document-links a:hover {
    color: white;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .content.has-bg .content-bg img {
        max-height: 100%;
        max-width: inherit;
    }
}

@media (max-width: 767px) {
    .container-home h1, .container-home h2, .container-home h3, .container-home h4 {
        margin: 0 0 15px;
    }
    .container-home h1 {
      font-size: 36px;
    }
    .container-home h3 {
      font-size: 18px;
    }
    .container-home p {
      margin-bottom: 30px;
    }
}

    @media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
      padding: 20px 15px !important;
  }
}

    .header .navbar-brand {
  padding: 25px 15px;
}